zend_extension=xdebug.so

xdebug.cli_color                = 1
xdebug.max_nesting_level        = 250
xdebug.var_display_max_depth    = 50
xdebug.var_display_max_children = 256
xdebug.var_display_max_data     = 2048
xdebug.profiler_enable          = 0
xdebug.profiler_output_dir      = /tmp/xdebug
xdebug.remote_autostart         = 0
xdebug.remote_enable            = 1
xdebug.remote_host              = 192.168.100.1
